.form-container{
    transition: 1s;
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 100vw;
    align-items: center;
    justify-content: center;
    
}
.blog-form{
    background-color: red;
    width: 500px;
    row-gap: 12px;
    padding: 35px;
    margin: 15px;
    display: flex;
    flex-direction: column;

}
.blog-form input{

    height: 20px;
    border-radius: 5px;
}

.blog-form textarea{
    max-width:494px;
}
.create-blog-btn{
    background-color: green;
  position: fixed;
  top: 0;
    width: 100%;
    text-align: center;
    padding-top: 3=0px;
    font-size: 50px;
    color: #f5f5f5;
    transition: 0.5s;

}
.create-blog-btn:hover{
    text-decoration: underline;
    font-size: 60px;
}